.product-card {
  border: 1px solid #ddd;
  cursor: pointer;
  background: white;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-body h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.card-body p {
  font-size: 14px;
  height: 36px;
  overflow: hidden;
}

.card-body span {
  font-size: 12px;
  color: #7f9799;
}
