.olx-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  z-index: 1000;
  font-family: Arial, Helvetica, sans-serif;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.olx-logo {
  height: 58px;
  cursor: pointer;
}

.location-box {
  display: flex;
  align-items: center;
  height: 66px;
  border: 2px solid #b5b6b7;
  padding: 0 60px;
  border-radius: 30px;
  background: #ffffff;
}

.location-box span {
  font-size: 18px;
}

.location-box input {
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: 6px;
  width: 110px;
}

.header-center {
  flex: 1;
  display: flex;
  margin: 0 16px;
}

.header-center input {
  flex: 1;
  height: 66px;
  padding: 0 12px;
  font-size: 15px;
  border: 2px solid #b5b6b7;
  border-right: none;
  border-radius: 30px;
}

.header-center button {
  height: 66px;
  padding: 0 18px;
  background-color: #002f34;
  color: white;
  font-size: 18px;
  margin-left: -20px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-text {
  font-size: 18px;
  font-weight: 700;
  color: #002f34;
  cursor: pointer;
}

.login-text:hover {
  text-decoration: underline;
}

.username {
  font-size: 18px;
  font-weight: 600;
  color: #002f34;
}

.logout {
  font-size: 18px;
  cursor: pointer;
  color: #002f34;
}

.logout:hover {
  text-decoration: underline;
}


.sell-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 18px;
  border-radius: 30px;
  border: 5px solid;
  border-color: #ffce32 #23e5db #3a77ff #ffce32;
  background: #ffffff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  height: 46px;
}

@media (max-width: 768px) {
  .header-center {
    display: none;
  }

  .location-box {
    display: none;
  }
}
