.olx-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

/* LEFT */
.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.olx-logo {
  width: 48px;
  cursor: pointer;
}

.location-box {
  display: flex;
  align-items: center;
  border: 2px solid #002f34;
  padding: 6px 8px;
  background: #fff;
}

.location-box input {
  width: 120px;
  margin-left: 6px;
}

/* CENTER */
.header-center {
  flex: 1;
  display: flex;
  margin: 0 16px;
}

.header-center input {
  flex: 1;
  padding: 10px;
  border: 2px solid #002f34;
}

.header-center button {
  background-color: #002f34;
  color: white;
  padding: 0 16px;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-text {
  font-weight: bold;
  cursor: pointer;
}

.sell-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border: 5px solid;
  border-color: #ffce32 #23e5db #3a77ff #ffce32;
  border-radius: 30px;
  background: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header-center {
    display: none;
  }

  .location-box {
    display: none;
  }
}
